@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Bem vindo ao programa de classificação de viagem.
            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Passo 1</h5>
        Instrução 1.
    </li>

    <li class="two">
        <h5>Passo 2</h5>
        Instrução 2.
    </li>

    <li class="three">
        <h5>Passo 3</h5>
        Iinstrução 3.
    </li>
</ol>
